html {
    height: 100%
}
body {
	background-image: radial-gradient(#FE0404, #4B0000);
    font-family: sans-serif;
}

/*	OPTION	*/
#option{
	position: fixed;
	color:white;
	background-image: radial-gradient(#3D3D3D, black);
	width: 300px;
	height: 98%;
	text-align: center;
    font-size: 30px;
	border-radius: 8px;
}
#option .choixCateg{
	bottom: 80%;
	position: absolute;
	margin-left: 70px;
	margin-top: 150px;
}
#option  .listFilm{
	position: absolute;
	position: relative;
	font-family: Arial;
}

#option .choixnbElements{
	bottom: 50%;
	position: absolute;
	margin-left: 40px;
	margin-top: 170%;
}
.select-css {
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

#buttonPage{
	position: absolute;
	bottom: 0;
	text-align: center;
	margin-left: 70px;
	margin-bottom: 100px;
}

#buttonPage button{
	
	font-size: 35px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-weight:bold;
	margin: 5px;
}

#buttonPage .buttonAffiche{
	border-color: #000000 ;
	box-sizing: border-box;
}
#buttonPage .buttonAffiche:hover{
	border-color: white ;
	-webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
}
#buttonPage .buttonGrise{
	border: none;
	background-color: white;
	color: black;
}
#buttonPage .buttonGrise:hover{
	text-decoration: none !important;
}

#buttonPage .numPage{
	width: 30px;
	font-size: 35px;
}
	
/*	CARTES	*/
#afficheFilm{
	text-align: center;
	margin-left: 300px;
}
#cartes{
	float:left;
	width: 250px;
	height: 370px;
	margin-left:150px;
	margin-top:50px;
	background-color: #E5D9D4;
	border-radius: 8px;
	border: 5px solid black;
	box-shadow: 8px 8px 8px black;
}
#cartes:hover{
	border: 5px double #4B0000;
	background-color: #C4C4C4;
}
#cartes .delete{
	position: absolute;
	margin-left: 195px;
	width: 30px;
	height: 30px;
}
 #cartes .delete:hover{
	width: 30px;
	height: 30px;
	margin-top:-5px;
	margin-left:190px;
} 
#cartes .title{
	text-align: center;
	margin-top: 0px;
	max-width:200px;
	font-weight:bold;
	text-align: center;
    font-size: 20px;
}

#cartes .category{
	text-align: center;
	margin-top: -25px;
	color: blue;
	font-size: 15px;
	padding:10px;
}
#cartes .jauge{
	height: 100px;
	width: 200px;
	margin-top:-10px;
	text-align: center;
}
#cartes .divLike{
	float: left;
	margin-top:20px;
	margin-left: 40px;
	float: left;
}
#cartes .like{
	font-size: 17px;	
	font-weight:bold;
}
#cartes .dislike{
	font-size: 17px;	
	font-weight:bold;
}
#cartes .imageFilm{
	
	box-shadow: 4px 4px 4px black;
	float:center;
	margin: 15px ;
	width: 150px;
	height: 200px;
}

#cartes .divDislike{
	margin-top:20px;
	position:absolute;
	margin-left: 127px; 
}  
#cartes .delete{
	width: 20px;
	height: 20px;
}
#cartes .imgLike{
	width: 20px;
	height: 20px;
}
#cartes .imgDislike{
	width: 20px;
	height: 20px;
}

#cartes .jaugeDislike{
	margin-top: 10px;
	margin-left: 40px;
	float: left;
	background-color:grey;
	width: 120px;
	height: 5px;
}

#cartes .jaugeLike{
	float: left;
	background-color:#FE0404;
	height: 5px;
}
